<h1> Artist Show page </h1>
<ul>
<li> Name: <%= @artist.name %> </li>
<li> Bio: <%= @artist.bio %> </li>

<li> Songs: <%= @artist.songs.name %> </li>
<li> Genres: <%= @artist.genres.name %> </li>
</ul>


